:root {
  --green: #d3ffdd;
  --grey: grey;
  --grey-dark: #363636;
}

* {
  padding: 0;
  margin: 0;
}

.full-page {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 500px;
  height: 500px;
  line-height: 500px;
  border-radius: 50%;
  font-size: 50px;
  text-align: center;
  z-index: 1;
  color: var(--grey);
  background: var(--green);
}

.circle-border {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  background: var(--grey);
}

.login-half {
  position: absolute;
  z-index: 2;
  background-color: var(--grey-dark);
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 25vw;
  height: 25vw;
  background-color: var(--grey);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-text-hidden {
  visibility: hidden;
}

.start-background {
  background-color: black;
}
