* {
  background-color: rgb(155, 173, 182);
}

/* LAYOUT */
/* NAVBAR */
.navbar {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1100px;
}

.header .auth-nav {
  background-color: inherit;
}

.header a,
.header .nav-item {
  background-color: inherit;
}

/* FOOTER */
html,
body {
  height: 100%;
}
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}
.hdr-and-content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  background-color: #212529;
  padding: 20px 0;
}
.footer h5 {
  text-align: center;
  background-color: #212529;
  color: #fff;
}

.footer p {
  text-align: center;
  background-color: #212529;
  color: rgba(255, 255, 255, 0.55);
}

/* CONTENTS FORMAT */
.contents {
  margin: 0 auto;
  /* padding: 0 10px; */
  max-width: 1100px;
}

section {
  padding: 30px 0;
}

body button {
  margin: 5px 5px;
}

body .btn {
  /* color: red; */
}

/* Log Selector */
.log-selector-hdr {
  height: 3rem;
}

/* FORMS */
.form-group {
  padding-top: 0.2rem;
}

.form-group .form-control {
  margin-bottom: 0.5rem;
}

/* REST */

.row .form-box {
  max-width: 600px;
}

.login-form {
  padding: 50px 0;
}

.form-box button {
  margin: 0 10px;
}

body svg {
  background-color: inherit;
}

.log-list {
  display: flex;
  justify-content: center;
  /* width: 90vw; */
}

table th {
  text-align: center;
}

/* results */
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}

.bargraph-component div,
.bargraph-component center,
.bargraph-component h5 {
  background-color: rgb(202, 202, 202);
  /* width: 90%; */
  /* border-radius: 5px; */
}

.log-chart-component {
  align-items: center;
  text-align: center;
}

.view-buttons button {
  margin: 5px 0;
}

.month-text {
  display: inline;
}

.month-selector {
  margin: -1rem 0.7rem 0 0.7rem;
}

.button-icon {
  margin-top: -0.2rem;
}

.activity-view-selector {
  width: 50%;
}
.activity-view-selector label {
  text-align: left;
}

@media only screen and (max-width: 1000px) {
  .activity-view-selector {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .row .col {
    padding: 0;
  }

  form {
    padding: 0 5px;
  }

  section {
    padding: 10px 0;
  }
}
