* {
  background-color: rgb(155, 173, 182);
}

.header a,
.header .mr-auto {
  background-color: inherit;
}

.row .form-box {
  max-width: 600px;
  padding: 50px 0;
}

.form-box button {
  margin: 10px 5px;
}

body button {
  margin: 5px 5px;
}

body svg {
  background-color: inherit;
}

body section {
  /* background-color: rgb(155, 173, 182); */
  padding: 30px 0;
}

/* .section-divider {
  background-color: whitesmoke;
  height: 20px;
} */

/* .mid-section-divider {
  width: 100vw;
  background-color: grey;
  height: 4px;
  margin: 30px 0;
} */

.log-list {
  display: flex;
  justify-content: center;
  /* width: 90vw; */
}

table th {
  text-align: center;
}

/* Time Logger */
/* section {
  display: flex;
  justify-content: center;
  padding: 1rem;
} */

/* .logs-component {
  min-height: 100vh;
} */

/* results */
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}
