.row .form-box {
  max-width: 600px;
  padding: 50px 0;
}

body button {
  margin: 10px 5px;
}

section {
  background-color: rgb(111, 122, 128);
}

.section-divider {
  height: 10px;
}

.log-list {
  display: flex;
  justify-content: center;
  /* width: 90vw; */
}

table th {
  text-align: center;
}

/* Time Logger */
section {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

/* results */
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
}
